*.class

# Package Files #
*.jar
*.war
*.ear
/target/

# Eclipse Files #
.classpath
.project
.settings

# NetBeans Files #
/nbproject/
nb-configuration.xml

# InteliJ Files #
gst1-java-core.iml
.idea
